env/
*.pyc
*.DS_Store
node_modules/
cookies.txt
session.json
bundle.js
*.js.map
**/e2e/test_cypress_hello.cy.js
# Don't include the screenshots and videos that Cypress generates in headless mode.
**/cypress/videos
**/cypress/screenshots
scraps.egg-info/
scraps/__pycache__/__init__.cpython-312.pyc
scraps/__pycache__/config.cpython-312.pyc
scraps/__pycache__/model.cpython-312.pyc
scraps/api/__pycache__/__init__.cpython-312.pyc
scraps/api/__pycache__/exceptions.cpython-312.pyc
scraps/api/__pycache__/saved_recipes.cpython-312.pyc
scraps/api/__pycache__/user.cpython-312.pyc
scraps/views/__pycache__/

scraps/views/__pycache__/__init__.cpython-312.pyc
scraps/views/__pycache__/accounts.cpython-312.pyc
scraps/views/__pycache__/allergens.cpython-312.pyc
scraps/views/__pycache__/build_recipes.cpython-312.pyc
scraps/views/__pycache__/calendar.cpython-312.pyc
scraps/views/__pycache__/dairy.cpython-312.pyc
scraps/views/__pycache__/dietarypreferences.cpython-312.pyc
scraps/views/__pycache__/frontend_test.cpython-312.pyc
scraps/views/__pycache__/grains.cpython-312.pyc
scraps/views/__pycache__/index.cpython-312.pyc
scraps/views/__pycache__/index2.cpython-312.pyc
scraps/views/__pycache__/ingredients.cpython-312.pyc
scraps/views/__pycache__/logout.cpython-312.pyc
scraps/views/__pycache__/pantry.cpython-312.pyc
scraps/views/__pycache__/pantry_main.cpython-312.pyc
scraps/views/__pycache__/produce.cpython-312.pyc
scraps/views/__pycache__/proteins.cpython-312.pyc
scraps/views/__pycache__/recipe.cpython-312.pyc
scraps/views/__pycache__/recipes.cpython-312.pyc
scraps/views/__pycache__/results.cpython-312.pyc
scraps/views/__pycache__/saved_recipes.cpython-312.pyc
scraps/views/__pycache__/user.cpython-312.pyc
scraps/views/__pycache__/user_ingredients.cpython-312.pyc
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
