.meal-calendar-grid {
    display: grid;
    place-items: center;

}

.days-grid  {
    display: grid;
    
    text-align: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    border: black solid 2px;
    font-size: 25px;
    margin: 30px;
    padding: 10px;
    row-gap: 5px;
    width: 90%;

}

.breakfast {
    grid-row: 2;
    grid-column: 0;
}

/* .meal-grid{
    
} */

.dashboard{
    font-family: "Lusitana", Helvetica;
}
