.meal-calendar-grid {
    display: grid;
    place-items: center;

}

.days-grid  {
    display: grid;
    
    text-align: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    border: black solid 2px;
    font-size: 25px;
    margin: 30px;
    padding: 10px;
    row-gap: 5px;
    width: 90%;

}

.breakfast {
    grid-row: 2;
    grid-column: 0;
    font-size:20px;
}
.lunch {
    grid-row:3;
    grid-column:0;
}

.monday{
    grid-row:0; 
    grid-column:2; 
}
.tuesday{
    grid-column:3;
}
.wednesday{
    grid-column:4;
}
.thursday{
    grid-column: 5;
}
.friday{
    grid-column: 6;
}
.saturday{
    grid-column: 7;
}
.sunday{
    grid-column: 8;
}

/* .meal-grid{
    
} */

.dashboard{
    font-family: "Lusitana", Helvetica;
}
