
h2 {
  text-align: left;
}

.outer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5%;
}

.grid-container {
  display: none;
  background-color: #A0CA92;
  grid-template-columns: 250px 250px 250px;
  border-radius: 8px;
  justify-items: center; /* Centers items horizontally within their cells */
  align-items: center; /* Centers items vertically within their cells */
  padding: 1%;
}

.init-grid-container {
  display: grid;
}

.checkbox-class {
  display: flex;
  background-color: white;
  margin: 8px;
  padding: 5%;
  padding-right: 8px;
  width: 70%;
  border-radius: 5px;
}

.checkbox-class label {
  margin-left: 10px; 
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
}

.headings {
  display: none;
}

#produce {
  display: grid;
}

#produceHeading {
  display: block; 
}

.checkbox-class input[type="checkbox"] {
  appearance: none; /* Remove default style */
  width: 20px; 
  height: 20px;
  border: 1px solid black; /* Customize border */
  border-radius: 4px; /* Optional: rounded corners */
  background-color: white; /* Unchecked background */
  cursor: pointer;
  transition: all 400ms;
}

.checkbox-class input[type="checkbox"]:checked {
  
  background-color: black; 
}

.checkbox-class:has(input[type="checkbox"]:checked) {
  background-color: #75B09C; /* New color for parent */
}

label {
  font-size: 20px;
  padding: 50px;
}