@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

/* body {
  background-color: #FFFCE9;
}  */

.center-heading {
  text-align: center;
  margin: 2%;
}
.be-vietnam-pro {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
} 

.checkbox-be-vietnam-pro {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
} 

.h1-be-vietnam-pro {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: black;
}

.h2-be-vietnam-pro {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 530;
  font-style: normal;
  font-size: 38px;
  color: black;
}

.be-vietnam-pro-boldish {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 530;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular-big {
  font-family: "Space Mono", serif;
  font-weight: 530;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.space-mono-bigger {
  font-family: "Space Mono", serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.space-mono-nav {
  font-family: "Space Mono", serif;
  font-weight: 800;
  font-style: bold;
  font-size: 40px;
  line-height: 40;
}

.get-started {
  margin-top: 3%;
  background-color: #FCC149;
  width: 20%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  border-radius: 4px;
  border: solid black 2px;
  font-family: "Space Mono", serif;
  font-weight: 800;
  font-style: bold;
}

.edit-prof-submit {
  margin-top: 0%;
  max-width: 10%;
  font-size: 16px;
  padding: 1%;
}
.main-title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}