.checkboxes {
  display: block;
  background-color: ali;
  margin-top: 4%;
  font-family: "Lusitana", Helvetica;
}

h1 {
  font-size: 100px;
  color: lightpink;
  margin-top: 8%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.produce-checkbox1 {
  font-size: 27px;
  background-color: lightpink;
  display: inline-grid;
  gap: 100px 50px;
  grid-auto-columns: 175px;
  grid-template-columns: auto auto;

  /* display: inline-block;
    padding: 30px; */
  /* margin-right: 10px; */
  /* margin-left: 10px;  */
  /* Space between checkbox containers */

  /* border-radius: 10px; Optional: for rounded corners */
  /* margin: 10px; */
}
