.homepage {
  margin-left: 16%;
  margin-top: 5%;
}

.our-mission {
  margin-left: 8%;
  margin-top: 5%;
}

.slogan {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.bolder {
  font-weight: 600;
}
.tagline {
  margin-top: 1%;
  font-size: 20px;
  font-family: "Space Mono", serif;
}

html, body {
  background-color: #FFFCE9 !important;
  margin: 0;
  padding: 0;
  height: 100%;
}