body {
    background-color: beige;
}
h1 {
    color: blue;
}



.select-heading{
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1%;
    margin-bottom: 2%;
}

/* CSS */
.button-2 {

  border-radius: 7px;
  border-width: 0;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  list-style: none;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  text-align: center;
  transition: all 300ms;
}

.button-clicked {
    background-color: #A0CA92; /* Change this to whatever color you want */
    text-decoration: underline;
}

.produce-init {
    background-color: #A0CA92;
    text-decoration: underline;
}