@import url("https://fonts.googleapis.com/css?family=Lusitana:400|IBM+Plex+Sans:500,400");


/* Applying the font globally in the navbar */
.navbar, .navbar-nav .nav-link, .btn, body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.beige-background {
    background-color: #FFFCE9;
}

.btn {
    background-color: var(--beige-);
    color: black;
    border: none;
}
.navbar-brand {
    font-family: "Space Mono", serif;
    font-weight: 800;
    font-size: 35px;
}
