

.pantry-header {
  margin-left: 120px;
}

.ingredient-header {
  margin-top: 50px;
  margin-left: 120px;
  font-size: 20px;
}

.in-season-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 1250px;
  height: 250px;
  background-color: rgb(205, 242, 205);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}



.ingredient-container {
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 130px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  justify-content: center;
  align-items: center;
}

.ingredient-container:hover {
  border-style: solid;
  border-width: 2px;
  background-color: rgb(224, 224, 224);
  transition: border-width 0.1s ease, border-color 0.1s ease, background-color 0.1s ease;;
  cursor: pointer;
}

.ingredient-container:active {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
  transition: background-color 0.3s ease;
}