

h1 {
  font-size: 50px;
  color: lightpink;
  margin-top: 8%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif; 
}

h2 {
  text-align: left;
}


/* .container {
  display: flex;

  flex-wrap: wrap;
  /* justify-content: start; */
/* align-items: stretch;
  /* gap: 10px; */
/* gap: 10px 20px; */
/* column-gap: 20px;
  /* grid-row: 20px; */
/* flex-direction: column */
/* | row-reverse | column | column-reverse; */
/*}  */

.outer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5%;
}

.grid-container {
  display: none;
  background-color: #A0CA92;
  grid-template-columns: 250px 250px 250px;
  border-radius: 8px;
  justify-items: center; /* Centers items horizontally within their cells */
  align-items: center; /* Centers items vertically within their cells */
  padding: 1%;
}

.produce-checkbox1 {
  display: flex;
  background-color: white;
  margin: 8px;
  padding: 11px;
  padding-right: 8px;
  width: 70%;
  border-radius: 5px;
}


.produce-checkbox1 label {
  margin-left: 10px; 
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
}

.buttons-bottom {
  margin-top: 10px; 
}

.headings {
  display: none;
}

#produce {
  display: grid;
}

#produceHeading {
  display: block; 
}

.produce-checkbox1 input[type="checkbox"] {
  appearance: none; /* Remove default style */
  width: 25px; 
  height: 25px;
  border: 1px solid black; /* Customize border */
  border-radius: 4px; /* Optional: rounded corners */
  background-color: white; /* Unchecked background */
  cursor: pointer;
  transition: all 300ms;
}

.produce-checkbox1 input[type="checkbox"]:checked {
  
  background-color: black; 
}

.produce-checkbox1:has(input[type="checkbox"]:checked) {
  background-color: #75B09C; /* New color for parent */
}
