@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
.checkboxes {
  display: block;
  /* in javascript: set display to None if you're not tabbed on it */
  background-color: lightpink;
  /* margin-top: 10%; */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  color: lightpink;
  margin-top: 8%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif; 
}

h2 {
  text-align: left;
}


/* .container {
  display: flex;

  flex-wrap: wrap;
  /* justify-content: start; */
/* align-items: stretch;
  /* gap: 10px; */
/* gap: 10px 20px; */
/* column-gap: 20px;
  /* grid-row: 20px; */
/* flex-direction: column */
/* | row-reverse | column | column-reverse; */
/*}  */

.outer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid-container {
  display: none;
  background-color: #D9EDD7;
  grid-template-columns: 250px 250px 250px;
  border-radius: 10px;
  justify-items: center; /* Centers items horizontally within their cells */
  align-items: center; /* Centers items vertically within their cells */
  /* grid-template-rows: 50px 50px; */
}

.produce-checkbox1 {
  display: flex;
  background-color: white;
  margin: 15px;
  gap: 0px;
  /* margin-left: 70px;
  margin-right: 50px;  */
  padding: 15px;
  width: 70%;
  /* padding-bottom: 10px; */ 
  /* border: 3px solid rgb(135, 85, 93); */
  border-radius: 5px;
}


.produce-checkbox1 label {
  margin-left: 10px; 
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
}

.buttons-bottom {
  margin-top: 10px; 
}

.headings {
  display: none;
}

#produce {
  display: grid;
}

#produceHeading {
  display: block; 
}
