@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
.checkboxes {
  display: block;
  /* in javascript: set display to None if you're not tabbed on it */
  background-color: lightpink;
  /* margin-top: 10%; */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  color: lightpink;
  margin-top: 8%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif; 
}

h2 {
  text-align: left;
}
.produce-checkbox1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 27px;
  background-color: #D9EDD7;
  padding: 0px;
  margin: 2px;
  /* border: 3px solid rgb(135, 85, 93); */
  border-radius: 15px;
  padding: 5px 35px;

}

/* .container {
  display: flex;

  flex-wrap: wrap;
  /* justify-content: start; */
/* align-items: stretch;
  /* gap: 10px; */
/* gap: 10px 20px; */
/* column-gap: 20px;
  /* grid-row: 20px; */
/* flex-direction: column */
/* | row-reverse | column | column-reverse; */
/*}  */

.outer-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #D9EDD7; */
}

.grid-container {
  display: none;

  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 50px 50px;
  align-content: space-around;

  background-color: white; 
}

.button {
  background-color: #93806A;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  font-family: "Be Vietnam Pro", sans-serif; 
  font-weight: 200;
  font-style: normal;
}

.headings {

  display: none;
}

#produce {
  display: grid;
}

#produceHeading {
  display: block; 
}
