*{
  font-family: "Be Vietnam Pro", sans-serif;
}


/* CSS */
.button-2 {
  background-color: black;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

  .header{
    text-align: center;
  }


  p {
    color: black;
    text-align: center;
  }

.buttons {
    margin-left:350px;
    margin-bottom:0px;
}

.card{

  display:grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid #4B2F0E;
  border-radius: 30px;
  padding:0;
  margin-left:100px;
  margin-right:100px;
}

.ingredients, .instructions{
  background-color: #e7dcff;

}
.ingredients{
  padding: 30px;
}
.instructions{
  padding: 30px;
}
.button{
  margin-top:30px;
  margin-left:100px;
}