* {
  font-family: "Be Vietnam Pro", sans-serif;
}

.all_recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;       /* centers all the cards */
  gap: 20px;                     /* adds even spacing between cards */
  width: 80%;
  margin: 0 auto;                /* centers the whole container */
  margin-top: 2%;
}


.recipe_card {
  background-color: #D5E8ED;
  padding: 1%;
  border-radius: 5px;
  border: 0.5px black solid;
  max-width: 30%;
  box-sizing: border-box;
}
/* 
.recipe-clicked {
  min-width: 50%; 
} */

.center {
  text-align: center;
  margin-top: 2%;
}
