* {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-color: white;
}

.all_recipes {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
}

.recipe-row {
  background-color: rgb(118, 194, 215);
  border-radius: 5px;
  border: 1px black solid;
  margin-left: 5%;
  margin-right: 5%;
}

.recipe-row > h2 {
  margin-left: 15%;
}

.recipe-row-container {
  display: flex;
  justify-content: center;
  align-items: space-between;     
  width: 100%;    
  margin-left: 1%;
}

.recipe_card {
    background-color: rgb(221, 255, 248);
    padding: 1%;
    border-radius: 5px;
    border: 1px black solid;
    margin: 1%;
    min-width: 20%;
}

.recipe_card > h3 {
  text-align: center;
}

.recipe-clicked {
  min-width: 50%; 
}